@charset "UTF-8";

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("../fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("../fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("../fonts/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #232427;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: Metropolis;
  font-weight: 500;
  font-style: normal;
}

body textarea,
body input,
body button {
  outline: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@supports (margin-bottom: clamp( 1.5625rem , -0.5893987342rem  +  10.7594936709vw , 6.875rem )) {
  section {
    margin-bottom: clamp( 1.5625rem , -0.5893987342rem  +  10.7594936709vw , 6.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , -0.5893987342rem  +  10.7594936709vw , 6.875rem )) {
  section {
    margin-bottom: calc(1.5625rem + 5.3125 * (100vw - 20rem) / 49.375);
  }
}

.text14-14 {
  line-height: 14px;
}

.blue-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #2962EF;
  border-radius: 4px;
  padding: 13px 20px;
  color: #ffffff;
  white-space: nowrap;
}

.blue-btn:hover {
  background: #1844b5;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.blue-btn__outline {
  border-radius: 4px;
  padding: 13px 20px;
  background: none;
  color: #2962EF;
}

.blue-btn__outline:hover {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  color: #ffffff;
  background: #2962EF;
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: 700;
}

@supports (font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem )) {
  h2,
  h3 {
    font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem )) {
  h2,
  h3 {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 49.375);
  }
}

@supports (line-height: clamp( 2rem , 1.6962025316rem  +  1.5189873418vw , 2.75rem )) {
  h2,
  h3 {
    line-height: clamp( 2rem , 1.6962025316rem  +  1.5189873418vw , 2.75rem );
  }
}

@supports not (line-height: clamp( 2rem , 1.6962025316rem  +  1.5189873418vw , 2.75rem )) {
  h2,
  h3 {
    line-height: calc(2rem + 0.75 * (100vw - 20rem) / 49.375);
  }
}

@supports (font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem )) {
  h1 {
    font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem )) {
  h1 {
    font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 49.375);
  }
}

@supports (line-height: clamp( 2.75rem , 2.2943037975rem  +  2.2784810127vw , 3.875rem )) {
  h1 {
    line-height: clamp( 2.75rem , 2.2943037975rem  +  2.2784810127vw , 3.875rem );
  }
}

@supports not (line-height: clamp( 2.75rem , 2.2943037975rem  +  2.2784810127vw , 3.875rem )) {
  h1 {
    line-height: calc(2.75rem + 1.125 * (100vw - 20rem) / 49.375);
  }
}

@supports (font-size: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem )) {
  h4 {
    font-size: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem )) {
  h4 {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 49.375);
  }
}

@supports (line-height: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem )) {
  h4 {
    line-height: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.0474683544rem  +  1.0126582278vw , 1.75rem )) {
  h4 {
    line-height: calc(1.25rem + 0.5 * (100vw - 20rem) / 49.375);
  }
}

h5 {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}

h6 {
  line-height: 16px;
}

@supports (font-size: clamp( 1rem , 1.1756329114rem  +  -0.253164557vw , 1.125rem )) {
  h6 {
    font-size: clamp( 1rem , 1.1756329114rem  +  -0.253164557vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 1.1756329114rem  +  -0.253164557vw , 1.125rem )) {
  h6 {
    font-size: calc(1.125rem + -0.125 * (100vw - 20rem) / 49.375);
  }
}

p {
  line-height: 24px;
}

@supports (font-size: clamp( 0.875rem , 1.0506329114rem  +  -0.253164557vw , 1rem )) {
  p {
    font-size: clamp( 0.875rem , 1.0506329114rem  +  -0.253164557vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 1.0506329114rem  +  -0.253164557vw , 1rem )) {
  p {
    font-size: calc(1rem + -0.125 * (100vw - 20rem) / 49.375);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  margin-right: auto;
}

.menu {
  padding: 15px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.menu__link {
  color: #5E5C6C;
  font-style: normal;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu__link svg {
  width: 22px;
  height: 22px;
  fill: #5E5C6C;
}

.menu__link:hover {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  color: #2962EF;
}

.menu__link:hover svg {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  fill: #2962EF;
}

.menu__link.blue-btn {
  color: #ffffff;
}

.icon-menu {
  display: none;
}

.footer {
  background: #232427;
  color: #ffffff;
}

@supports (padding-top: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem )) {
  .footer {
    padding-top: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem )) {
  .footer {
    padding-top: calc(1.25rem + 4.375 * (100vw - 20rem) / 49.375);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem )) {
  .footer {
    padding-bottom: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.5221518987rem  +  8.8607594937vw , 5.625rem )) {
  .footer {
    padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 49.375);
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__item {
  max-width: 350px;
}

.footer__item:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-bottom: clamp( 0.625rem , 0.371835443rem  +  1.2658227848vw , 1.25rem )) {
  .footer__logo,
  .footer__text {
    margin-bottom: clamp( 0.625rem , 0.371835443rem  +  1.2658227848vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.371835443rem  +  1.2658227848vw , 1.25rem )) {
  .footer__logo,
  .footer__text {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 49.375);
  }
}

.footer__logo {
  color: #ffffff;
}

.footer__text {
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__policy {
  max-width: 170px;
  color: #D6D5DF;
  font-weight: 400;
  line-height: 24px;
}

.footer__form-title,
.footer .form {
  margin-bottom: 15px;
}

.footer__form-text {
  font-weight: 400;
}

@supports (margin-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem )) {
  .footer__form-text {
    margin-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem )) {
  .footer__form-text {
    margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 49.375);
  }
}

.footer__form-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__form-icons:first-child svg {
  fill: #000;
}

.footer__icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #5E5C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon:hover path {
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.footer__icon_youtube:hover .support-youtube {
  fill: #ffffff;
}

.footer__icon_youtube:hover .main-youtube {
  fill: #CD201F;
}

.footer__icon_twitter:hover path {
  fill: #00acee;
}

.footer__icon_linkedin:hover path {
  fill: #232427;
}

.footer__icon_discord:hover path {
  fill: #2962EF;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  padding: 8px 8px 8px 20px;
  border-radius: 4px;
}

.form__field {
  background: transparent;
  font-size: 14px;
  line-height: 14px;
  font-family: Metropolis;
  width: calc(100% - 55px);
}

.form__field::-webkit-input-placeholder {
  color: #9998A4;
}

.form__field::-moz-placeholder {
  color: #9998A4;
}

.form__field:-ms-input-placeholder {
  color: #9998A4;
}

.form__field::-ms-input-placeholder {
  color: #9998A4;
}

.form__field::placeholder {
  color: #9998A4;
}

.form__button {
  width: 40px;
  height: 40px;
  background: #2962EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.form__button:hover {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  background: #1844b5;
}

.about {
  position: relative;
}

@supports (margin-bottom: clamp( 0.0000000625rem , -5.0632910514rem  +  25.3164555696vw , 12.5rem )) {
  .about {
    margin-bottom: clamp( 0.0000000625rem , -5.0632910514rem  +  25.3164555696vw , 12.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -5.0632910514rem  +  25.3164555696vw , 12.5rem )) {
  .about {
    margin-bottom: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 49.375);
  }
}

.about__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@supports (top: clamp( 0.0000000625rem , 8.99969996rem  +  -13.332888737vw , 5rem )) {
  .about__image {
    top: clamp( 0.0000000625rem , 8.99969996rem  +  -13.332888737vw , 5rem );
  }
}

@supports not (top: clamp( 0.0000000625rem , 8.99969996rem  +  -13.332888737vw , 5rem )) {
  .about__image {
    top: calc(5rem + -4.9999999375 * (100vw - 29.99875rem) / 37.50125);
  }
}

@supports (opacity: clamp( 0.04375rem , 0.0361550633rem  +  0.0379746835vw , 0.0625rem )) {
  .about__image {
    opacity: clamp( 0.04375rem , 0.0361550633rem  +  0.0379746835vw , 0.0625rem );
  }
}

@supports not (opacity: clamp( 0.04375rem , 0.0361550633rem  +  0.0379746835vw , 0.0625rem )) {
  .about__image {
    opacity: calc(0.04375rem + 0.01875 * (100vw - 20rem) / 49.375);
  }
}

@supports (opacity: clamp( 0.04375rem , 0.028751125rem  +  0.0499983334vw , 0.0625rem )) {
  .about__image {
    opacity: clamp( 0.04375rem , 0.028751125rem  +  0.0499983334vw , 0.0625rem );
  }
}

@supports not (opacity: clamp( 0.04375rem , 0.028751125rem  +  0.0499983334vw , 0.0625rem )) {
  .about__image {
    opacity: calc(0.04375rem + 0.01875 * (100vw - 29.99875rem) / 37.50125);
  }
}

@supports (max-width: clamp( 25rem , -2.4979375687rem  +  91.663611213vw , 59.375rem )) {
  .about__image img {
    max-width: clamp( 25rem , -2.4979375687rem  +  91.663611213vw , 59.375rem );
  }
}

@supports not (max-width: clamp( 25rem , -2.4979375687rem  +  91.663611213vw , 59.375rem )) {
  .about__image img {
    max-width: calc(25rem + 34.375 * (100vw - 29.99875rem) / 37.50125);
  }
}

@supports (padding-top: clamp( 0.9375rem , -1.2143987342rem  +  10.7594936709vw , 6.25rem )) {
  .about__body {
    padding-top: clamp( 0.9375rem , -1.2143987342rem  +  10.7594936709vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -1.2143987342rem  +  10.7594936709vw , 6.25rem )) {
  .about__body {
    padding-top: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 49.375);
  }
}

.about__title {
  max-width: 390px;
}

@supports (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .about__title {
    margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .about__title {
    margin-bottom: calc(0.3125rem + 0.625 * (100vw - 20rem) / 49.375);
  }
}

.about__text {
  max-width: 400px;
  color: #9998A4;
}

@supports (margin-bottom: clamp( 0.625rem , -0.0079113924rem  +  3.164556962vw , 2.1875rem )) {
  .about__text {
    margin-bottom: clamp( 0.625rem , -0.0079113924rem  +  3.164556962vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.0079113924rem  +  3.164556962vw , 2.1875rem )) {
  .about__text {
    margin-bottom: calc(0.625rem + 1.5625 * (100vw - 20rem) / 49.375);
  }
}

.about__buttons {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@supports (margin-bottom: clamp( 1.5625rem , -1.0957278481rem  +  13.2911392405vw , 8.125rem )) {
  .about__buttons {
    margin-bottom: clamp( 1.5625rem , -1.0957278481rem  +  13.2911392405vw , 8.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , -1.0957278481rem  +  13.2911392405vw , 8.125rem )) {
  .about__buttons {
    margin-bottom: calc(1.5625rem + 6.5625 * (100vw - 20rem) / 49.375);
  }
}

.about__link {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about__link img {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  margin-top: -1px;
}

.about__link:hover img {
  -webkit-transform: translateX(6px) rotate(45deg);
      -ms-transform: translateX(6px) rotate(45deg);
          transform: translateX(6px) rotate(45deg);
}

.about__sub-title {
  text-transform: uppercase;
  color: #9998A4;
}

@supports (margin-bottom: clamp( 0.625rem , 0.2452531646rem  +  1.8987341772vw , 1.5625rem )) {
  .about__sub-title {
    margin-bottom: clamp( 0.625rem , 0.2452531646rem  +  1.8987341772vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2452531646rem  +  1.8987341772vw , 1.5625rem )) {
  .about__sub-title {
    margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 49.375);
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem )) or (column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem ))) {
  .about__row {
    -webkit-column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem );
       -moz-column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem );
            column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem )) or (column-gap: clamp( 0.625rem , -1.1471518987rem  +  8.8607594937vw , 5rem ))) {
  .about__row {
    -webkit-column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 49.375);
       -moz-column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 49.375);
            column-gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 49.375);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.1352848101rem  +  0.8860759494vw , 0.75rem )) {
  .item-about__title {
    margin-bottom: clamp( 0.3125rem , 0.1352848101rem  +  0.8860759494vw , 0.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.1352848101rem  +  0.8860759494vw , 0.75rem )) {
  .item-about__title {
    margin-bottom: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 49.375);
  }
}

.item-about__text {
  text-transform: uppercase;
  color: #5E5C6C;
}

.special__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -25px -12.5px;
}

.special__row > * {
  padding: 25px 12.5px;
}

.special__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__column:not(:first-child) .item-special {
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
}

.special__column:not(:first-child) .item-special:hover {
  background: #FAFBFD;
  border: 1px solid #FAFBFD;
}

.special__column:not(:first-child) .item-special:hover .item-special__image {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
          box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
}

.item-special {
  border: 1px solid #EFEFF4;
  border-radius: 8px;
}

.item-special_content {
  border: none;
}

@supports (padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
  .item-special_content > * {
    padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
  .item-special_content > * {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 49.375);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.1186708861rem  +  2.5316455696vw , 1.875rem )) {
  .item-special__wrap {
    padding-right: clamp( 0.625rem , 0.1186708861rem  +  2.5316455696vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.1186708861rem  +  2.5316455696vw , 1.875rem )) {
  .item-special__wrap {
    padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 49.375);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .item-special__title {
    margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .item-special__title {
    margin-bottom: calc(0.3125rem + 0.625 * (100vw - 20rem) / 49.375);
  }
}

@supports (padding-top: clamp( 1.25rem , -4.9032914557rem  +  12.8196910454vw , 3.75rem )) {
  .item-special__body {
    padding-top: clamp( 1.25rem , -4.9032914557rem  +  12.8196910454vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -4.9032914557rem  +  12.8196910454vw , 3.75rem )) {
  .item-special__body {
    padding-top: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 19.50125);
  }
}

@supports (padding-right: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-right: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-right: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 19.50125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 19.50125);
  }
}

@supports (padding-left: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-left: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__body {
    padding-left: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 19.50125);
  }
}

.item-special__image {
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
  border-radius: 100%;
  background: #FAFBFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@supports (margin-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__image {
    margin-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -2.9083071598rem  +  8.0123069034vw , 2.5rem )) {
  .item-special__image {
    margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 19.50125);
  }
}

@supports (width: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem )) {
  .item-special__image {
    width: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem );
  }
}

@supports not (width: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem )) {
  .item-special__image {
    width: calc(3.125rem + 1.6875 * (100vw - 20rem) / 49.375);
  }
}

@supports (height: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem )) {
  .item-special__image {
    height: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.4414556962rem  +  3.417721519vw , 4.8125rem )) {
  .item-special__image {
    height: calc(3.125rem + 1.6875 * (100vw - 20rem) / 49.375);
  }
}

@supports (width: clamp( 1.5625rem , 1.309335443rem  +  1.2658227848vw , 2.1875rem )) {
  .item-special__image img {
    width: clamp( 1.5625rem , 1.309335443rem  +  1.2658227848vw , 2.1875rem );
  }
}

@supports not (width: clamp( 1.5625rem , 1.309335443rem  +  1.2658227848vw , 2.1875rem )) {
  .item-special__image img {
    width: calc(1.5625rem + 0.625 * (100vw - 20rem) / 49.375);
  }
}

.item-special__text {
  color: #9998A4;
}

.trusted {
  background: #FAF9FA;
}

@supports (padding-top: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
  .trusted {
    padding-top: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
  .trusted {
    padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.375);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
  .trusted {
    padding-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
  .trusted {
    padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.375);
  }
}

.trusted__title {
  text-align: center;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem )) {
  .trusted__title {
    margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem )) {
  .trusted__title {
    margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 49.375);
  }
}

.trusted__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -20px -34.5px;
}

.trusted__row > * {
  padding: 20px 34.5px;
}

@supports (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .backed__title {
    margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.059335443rem  +  1.2658227848vw , 0.9375rem )) {
  .backed__title {
    margin-bottom: calc(0.3125rem + 0.625 * (100vw - 20rem) / 49.375);
  }
}

.backed__text {
  color: #5E5C6C;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem )) {
  .backed__text {
    margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1780063291rem  +  3.7974683544vw , 2.8125rem )) {
  .backed__text {
    margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 49.375);
  }
}

.backed__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -10px;
}

.backed__row > * {
  padding: 15px 10px;
}

.backed__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.backed__item {
  border-radius: 4px;
}

.backed__item._white-block {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
  -webkit-filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
}

.backed__item._black-block {
  background: #FAFBFD;
}

.item-backed__body {
  padding: 20px;
}

.item-backed__image {
  margin-bottom: 15px;
  max-width: 100%;
  height: 120px;
}

.item-backed__image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-backed__title {
  margin-bottom: 10px;
}

.item-backed__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-backed__link svg {
  width: 17px;
  height: 17px;
  fill: #5E5C6C;
}

.item-backed__link:last-child svg {
  width: 21px;
  height: 21px;
}

.item-backed__link:hover svg {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  fill: #2962EF;
}

@media (max-width: 600px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__item {
    max-width: 100%;
  }

  .footer__policy {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .item-backed__body {
    padding: 10px;
  }
}

@media (max-width: 61.99875em) {
  .trusted__row {
    margin: -15px -25px;
  }

  .trusted__row > * {
    padding: 15px 25px;
  }

  .backed__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .item-backed__image {
    height: 150px;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: #2962EF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__list {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    position: fixed;
    z-index: 4;
    top: 0;
    padding-top: 100px;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    row-gap: 30px;
  }

  .menu__list.menu-open {
    left: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link.blue-btn {
    padding: 20px 25px;
  }

  .item-special__body {
    padding-top: inherit;
  }

  .item-special__body {
    padding-right: inherit;
  }

  .item-special__body {
    padding-bottom: inherit;
  }

  .item-special__body {
    padding-left: inherit;
  }

  .item-special__image {
    margin-bottom: inherit;
  }

  .special__row {
    margin: -15px -7.5px;
  }

  .special__row > * {
    padding: 15px 7.5px;
  }

  .special__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .item-special__body {
    padding: 20px 15px 15px;
  }

  .item-special__image {
    margin-bottom: 15px;
  }

  .trusted__row {
    margin: -7.5px -15px;
  }

  .trusted__row > * {
    padding: 7.5px 15px;
  }

  .backed__row {
    margin: -10px;
  }

  .backed__row > * {
    padding: 10px;
  }

  .backed__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

@supports (height: clamp( 8.125rem , 3.9585069444rem  +  13.8888888889vw , 10.625rem )) {
    .item-backed__image {
      height: clamp( 8.125rem , 3.9585069444rem  +  13.8888888889vw , 10.625rem );
    }
}

@supports not (height: clamp( 8.125rem , 3.9585069444rem  +  13.8888888889vw , 10.625rem )) {
    .item-backed__image {
      height: calc(8.125rem + 2.5 * (100vw - 29.99875rem) / 18);
    }
}

  .item-backed__body {
    padding: 15px;
  }
}

@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .item-backed__image {
    height: inherit;
  }
}

@media (max-width: 29.99875em) {
  .about__image {
    top: inherit;
  }

  .about__image {
    opacity: inherit;
  }

  .about__image img {
    max-width: inherit;
  }

@supports (padding-bottom: clamp( 15.625rem , -1.3370253165rem  +  84.8101265823vw , 57.5rem )) {
    .about__body {
      padding-bottom: clamp( 15.625rem , -1.3370253165rem  +  84.8101265823vw , 57.5rem );
    }
}

@supports not (padding-bottom: clamp( 15.625rem , -1.3370253165rem  +  84.8101265823vw , 57.5rem )) {
    .about__body {
      padding-bottom: calc(15.625rem + 41.875 * (100vw - 20rem) / 49.375);
    }
}

  .about__image {
    bottom: 0;
  }

  .about__image img {
    max-width: 100%;
  }

  .special__row {
    margin: -7.5px;
  }

  .special__row > * {
    padding: 7.5px;
  }

  .special__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .backed__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .backed__title,
  .backed__text {
    text-align: center;
  }

  .backed__text {
    padding: 0 20px;
  }

  .item-backed__body {
    padding: 15px;
  }
}